{% extends 'KuzstuBlogBundle::layout.html.twig' %}

{% block title item.title %}

{% block content %}
    <h1>{{item.title}}</h1>
    <div>
        {{item.content}}
        <h3>Some comments here:</h3>    
        <ul>
            {% for curComment in item.comment %}
                <li>
                    {{curComment.commentText}}
                </li>
            {% endfor %}    
        </ul>    
    </div>
{% endblock %}